.modal-conteiner {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .modal{
    background-color:white;
    padding:20px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h3{
    font-weight: 400;
  }
  span{
    font-weight: 700;
  }
  textarea{
    resize: none;
    height: 70px;
    border:solid 3px #61dafb;
  }
  textarea:focus{
    outline:none;
    border: solid 3px #2ec3ec;
  }

  .btn-conteiner{
    display: flex;
    justify-content:space-evenly;
  }

  .btn-conteiner button{
    padding: 10px;
    border-radius: 10%;
  }

  .btnPrimary{
    background-color:#92ddf2;
    border: solid 2px #92ddf2;
    color: black;
  }
  .btnPrimary:hover{
    /* border: solid 1px #92ddf2; */
    background-color:rgba(0, 0, 0, 0);
  }

  .btnCancelar{
    border:none;
    background-color:rgba(0, 0, 0, 0);
    color: black;
  }
  .btnCancelar:hover{
    background-color:#9e9e9e;
    color: black;
  }